footer {
  background-color: #111827;
  min-height: 100px;
  width: 100%;
  justify-content: space-between;
  gap: 48px;
}

footer p:last-child {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 16px;
  text-align: center;
}

footer #contact {
  width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 48px;
  margin-left: 48px;
  margin-right: 48px;
}

footer #contact .left {
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

footer #contact .left h1 {
  color: rgba(255, 255, 255, 0.95);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

footer #contact .left a {
  color: white;
  text-decoration: underline;
  font-size: larger;
}

footer #contact .left .social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

footer #contact .left .social-media-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 8px;
  max-height: 48px;
  max-width: 48px;
  min-height: 48px;
  min-width: 48px;
  font-size: 1.5rem;
  text-decoration: none;
}

footer #contact .right {
  max-width: 45%;
}

footer #contact .right img {
  width: -moz-available; /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  border-radius: 8px;
  max-height: 250px;
}

@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  footer #contact .left {
    align-items: center;
    max-width: none;
  }

  footer #contact .left h1 {
    text-align: center;
  }

  footer #contact .left .social-media-icons {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer #contact .left .social-media-icons a {
    flex: 1 0 21%;
  }

  footer #contact .right {
    display: none;
  }
}

@media (max-width: 448px) {
  footer p:last-child {
    letter-spacing: 12px;
  }
}

@media (max-width: 376px) {
}
