body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  gap: 8px;
}

header,
main,
footer {
  width: 80%;
  display: inherit;
  flex-direction: inherit;
  border-radius: 16px;
}

@media (max-width: 1280px) {
  header,
  main,
  footer {
    width: 100%;
  }
}

@media (max-width: 376px) {
}
